SECRET_KEY=django-insecure-dev-only-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DB_ENGINE=django.db.backends.postgresql
DB_NAME=puntoventapos
DB_USER=puntoventapos
DB_PASSWORD=puntoventapos
DB_HOST=db
DB_PORT=5432

RECAPTCHA_ENABLED=False
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=